
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FoodForYou</title>
    <link rel="icon" href="favicon.ico">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.2.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Marcellus&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.2.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="../stylesheets/loco.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
    <link rel="stylesheet" href="../stylesheets/style.css">
    <!-- <link rel="stylesheet" href="../stylesheets/styles2.css"> -->
  
</head>

<body>
    <div id="header">
        <div id="name"><i class="ri-home-heart-fill"></i> Food For You</div>
        <div id="links"><a href="/">Home<i class="ri-home-line"></i></a><a href="/about">About<i
                    class="ri-chat-2-line"></i></a><a href="/delivery">Delivery Details<i
                    class="ri-briefcase-5-line"></i></a><a href="/menu">Menu<i class="ri-menu-add-line"></i></a><a
                href="/contact">Book Tiffin<i class="ri-contacts-book-line"></i></a></div>
                <div id="linked"><i class="ri-align-justify"></i>
                    <div id="linkbox">
                        <a href="/" style="padding-top: 0vw;">Home<i class="ri-home-line"></i></a><a href="/about">About<i
                            class="ri-chat-2-line"></i></a><a href="/delivery">Delivery Details<i
                            class="ri-briefcase-5-line"></i></a><a href="/menu">Menu<i class="ri-menu-add-line"></i></a><a
                        href="/contact">Book Tiffin<i class="ri-contacts-book-line"></i></a>
                    </div>
                </div>
    </div>
    <div id="main">

        <div id="first">
            <div id="abcd" data-scroll data-scroll-speed="1">
                <h1 data-scroll data-scroll-speed="1">Food,Just Like Your Home!</h1>
            </div>

        </div>
        <div id="third">
            <h1 data-scroll data-scroll-speed="1">Our Motive </h1>
            <p data-scroll data-scroll-speed="1">To provide fresh and healthy food so that nobody miss their home<br>
                and stay healthy and happy.</p>
            <div id="innerdiv3" data-scroll data-scroll-speed="3.5">

                <div class="circ" id="circle1">
                    <h2>On-Time <br>Service</h2>
                </div>
                <div class="circ" id="circle4" data-scroll data-scroll-speed="-3.5">
                    <h2>Healthy <br>Food</h2>
                </div>
                <div  id="circle2"><img src="../images/pictures/thali.png" alt=""></div>
                <div class="circ" id="circle3" data-scroll data-scroll-speed="-3.5">
                    <h2>Clean<br> Cooking</h2>
                </div>
                <div class="circ" id="circle5">
                    <h2>Affordable <br>Prize</h2>
                </div>


            </div>


        </div>
        <div id="second">

            <div id="indiv">
                <div id="innerdiv1" data-scroll data-scroll-speed="2.5">
                    <h1 data-scroll data-scroll-speed="1">Today's Menu </h1>
                    <div class="swiper mySwiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div id="bf" class="ttt">
                                    <div class="img1"><img src="../images/pictures/pohajalebi.jpg" alt=""></div>
                                    <div class="img2"><img src="../images/pictures/aalopudi.jpg" alt=""></div>
                                    <h2>BREAKFAST</h2>
                                    <ul>
                                        <li>Poha</li>
                                        <li>Jalebi</li>
                                    </ul>
                                    <h5>OR</h5>
                                    <ul>
                                        <li>Aaloo Sabzi</li>
                                        <li>Pudi</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div id="lunch" class="ttt">
                                    <div class="img1"><img src="../images/pictures/daalchawal.jpg" alt=""></div>
                                    <div class="img2"><img src="../images/pictures/MasalaBhindi.jpg" alt=""></div>
                                    <h2>LUNCH</h2>
                                    <ul>
                                        <li>Daal</li>
                                        <li>Chawal</li>
                                        <li>Bhindi fry</li>
                                        <li>Roti</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div id="eve" class="ttt">
                                    <div class="img1"><img src="../images/pictures/pasta.jpg" alt=""></div>
                                    <div class="img2"><img src="../images/pictures/sandwich.jpg" alt=""></div>
                                    <h2>EVENING SNACKS</h2>
                                    <ul>
                                        <li>Pasta</li>
                                        <h5>OR</h5>
                                        <li>SandWich</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div id="dinner" class="ttt">
                                    <div class="img1"><img src="../images/pictures/daalchawal.jpg" alt=""></div>
                                    <div class="img2"><img src="../images/pictures/rajma.jpg" alt=""></div>
                                    <h2>DINNER</h2>
                                    <ul>
                                        <li>Daal</li>
                                        <li>Chawal</li>
                                        <li>Rajma</li>
                                        <li>Parathe</li>
                                    </ul>
                                </div>
                            </div>

                        </div>
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>
                <div id="innerdiv12" data-scroll data-scroll-speed="2.5">
                    <h1 data-scroll data-scroll-speed="1">Specials </h1>
                    <div class="swiper mySwiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div id="rasmalai" class="special">
                                    <div class="img3"><img src="../images/pictures/Rasmalai.jpg" alt=""></div>
                                    <div class="content"><b>RASMALAI</b></div>

                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div id="pavbhaji" class="special">
                                    <div class="img3"><img src="../images/pictures/pavbhaji.webp" alt=""></div>
                                    <div class="content"><b>PAV-BHAJI</b></div>


                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div id="gulabjamun" class="special">
                                    <div class="img3"><img src="../images/pictures/gulab-jamun.jpg" alt=""></div>
                                    <div class="content"><b>GULAB JAMUN</b></div>

                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div id="custurd" class="special">
                                    <div class="img3"><img src="../images/pictures/fruit-custard.jpg" alt=""></div>
                                    <div class="content"><b>FRUIT CUSTURD</b></div>

                                </div>
                            </div>


                        </div>

                    </div>
                    <div id="sbn" class="swiper-button-next"></div>
                    <div id="sbp" class="swiper-button-prev"></div>
                    <div class="swiper-pagination"></div>

                </div>

            </div>

        </div>


        <div id="forth">
            <h1 data-scroll data-scroll-speed="1">Delivery Timings </h1>
            <div data-scroll data-scroll-speed="2" id="innerdiv2">
                <table>
                    <tr>
                        <th>PERIOD</th>
                        <th>TIME</th>
                        <th>PERIOD</th>
                        <th>TIME</th>
                    </tr>
                    <tr>
                        <td>BreakFast</td>
                        <td>9:00 A.M.</td>
                        <td>Lunch</td>
                        <td>1:00 P.M.</td>
                    </tr>

                    <tr>
                        <td>Evening Snacks</td>
                        <td>5:00 P.M.</td>
                        <td>Dinner</td>
                        <td>8:00 P.M.</td>
                    </tr>

                </table>
                <p data-scroll data-scroll-speed="1">For any change in timings, Contact us directly.</p>
            </div>



        </div>
        <div id="fifth">
            <h1 data-scroll data-scroll-speed="1">Happy Clients </h1>
            <p data-scroll data-scroll-speed="1">Serving 100+ People away from their home.</p>
            <div id="testi" data-scroll data-scroll-speed="2.5">
                <div class="test" id="div1">
                    <div class="image"><img src="../images/pictures/men1.avif" alt=""></div>
                    <div class="comment">
                        <p>The only tiffin centre who provides best quality.<br><br>-Animesh</p>
                    </div>
                </div>
                <div class="test" id="div2">
                    <div class="image"><img src="../images/pictures/men2.jpg" alt=""></div>
                    <div class="comment">
                        <p>It's a complete package ... quantity, quality, taste and PRICE!
                            <br><br>-Shruti
                        </p>
                    </div>
                </div>
                <div class="test" id="div3">
                    <div class="image"><img src="../images/pictures/men3.jpg" alt=""></div>
                    <div class="comment">
                        <p>Satisfaction for those who enjoy simple cozy and less oily food!!<br><br>-Akhil</p>
                    </div>
                </div>
            </div>
            <div id="but">
                <a href="/addResponse"><button id="ResponseBtn" data-scroll data-scroll-speed="1">Add Your Response <i
                            class="ri-menu-add-line"></i></button></a>
                <a href="/showAllResponse"><button id="ResponseBtn" data-scroll data-scroll-speed="1">Show All Response
                        <i class="ri-menu-add-line"></i></button></a>

            </div>

        </div>


        <div id="sixth" style="background-color: #ffd24c3a;">
            <h2>Designed by @ <b>Vanshita Jadiya</b> </h2>
            </div>
            
    </div>


    <script src="https://www.gstatic.com/firebasejs/9.14.0/firebase-database.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.1/ScrollTrigger.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.1/gsap.min.js"
        integrity="sha512-Mf/xUqfWvDIr+1B6zfnIDIiG7XHzyP/guXUWgV6PgaQoIFeXkJQR5XWh9fqAiCiRCpemabt3naV4jhDWVnuYDQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <script src="../javascripts/script.js"></script>
    <script>
        var navopen=0;

function openNav(){
  document.querySelector("#linked>i").addEventListener("click",function(){
    if(navopen===0){
      document.querySelector("#linkbox").style.display="flex";
      navopen=1;
    }
    else if(navopen===1){
      document.querySelector("#linkbox").style.display="none";
      navopen=0;
    }
  })
}
openNav();
    </script>
</body>

</html>