
  

body{
    background-image: url('../images/pictures/food.jpg');
    /* width: 1020px; */
    height: 100vh;
    background-size: 100%;
    background-repeat: no-repeat;
}
form{
    background-color: #fff;
    font-family:Georgia, 'Times New Roman', Times, serif;
    width: 100% / 2 -20px;
    /* display: flex; */
    /* justify-content: space-evenly; */
}
button{
    border-radius: 2px;
    width: 185px;
    margin-left: 210px;
}
